<!DOCTYPE html>   
  


<html>
    <head>
        <title></title>
        <script src="Scripts/jquery-1.10.2.js"></script>
    </head>
    <body>
        Список тестовых запросов:   
        <ul id="ql">
            
        </ul>
     
         
        <script type="text/javascript">
            
            $(document).ready(function () {
                // Send an AJAX request
               
                var ql = $('#ql');
                $.getJSON('/SparqlEndPointWebApi/api/Query/')
                    .done(function (data) {
                        // On success, 'data' contains a list of products.
                        $.each(data, function (key, item) {
                            // Add a list item for the product. 
                            $('<a/>', { href: '/SparqlEndPointWebApi/api/Query/?query=' + item, text: item })
                                .appendTo($('<li/> ').appendTo(ql));
                            //$('<li>', { text:item });
                        });
                    });


            });
        </script>       
         Ввод нового запроса.
        <form action='/SparqlEndPointWebApi/api/Query/' method='get'>
            <textarea name="query" cols="100" rows="30"></textarea>
            <input type="submit" value="run" />
        </form>
    </body>
</html>
