@using SparqlEnfdPointWebApi.Views

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <input type="text" name="search" value=" " />
        <input type="submit" onclick="" />
        
        @*@RemoteSparql.Call("http://localhost/SparqlEndPointWebApi","select * where{?x ?y ""}"*@)
    </div>
</body>
</html>
